.preview-img img {
    height: 200px;
    width: 200px;
    vertical-align: center;
    text-align: center;
    position: relative;
}
.item-inside{

    margin-top: 10px;
}

.item {
    height: 500px;
    border: 1px solid steelblue;
}

.search {
    margin-top: 20px;
}
footer{
    margin:10px;
    text-align: right;
}