<!DOCTYPE html>
<html lang="en ru" ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <![endif]-->
</head>

<body ng-controller="PhoneListCtrl">

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1>Phonecat!</h1>
            <p>Магазин телефонов.</p>
        </div>
        <div class="col-xs-8 col-md-4">
            <form>
                <input type="text" class="form-control" placeholder="Поиск..." ng-model="search">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-xs-6 col-md-4 item" ng-repeat="phone in phones | filter:search">
            <div  class="preview-img">
                <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/>
            </div>
            <h2>{{phone.name}}</h2>
            <p>{{phone.snippet}}</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 R-key, Inc.</p>
    </footer>
</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<!--Angular.js Route-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
</body>
</html>
